// global styles

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: $grey;
    background-color: $background;

    font-family: athelas, serif; 
    font-size: 1.6rem;
    text-transform: lowercase;
    letter-spacing: 1.5px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: clamp(4.2rem, 4.4vw, 4.6rem);
    padding-bottom: 10px
}

h2 {
    font-size: clamp(3.2rem, 3.4vw, 3.6rem);
    padding-bottom: 10px
}

h3 {
    font-size: clamp(2.8rem, 3vw, 3.2rem);
    padding-bottom: 10px
}

h4 {
    font-size: clamp(1.6rem, 1.7vw, 1.8rem);
    padding-bottom: 10px
}

section {
    padding: 100px 0;
}

a,
button {
    letter-spacing: 1.5px;
    
    transition: 0.3s all;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $brown;
    }
}

button {
    border-bottom: .5px solid $brown;
}

hr {
    border: 0;
    height: .5px;
    background: $brown;

    width: 25px;
    margin: 15px 0;
}

iframe {
    border: none;
}

.wrapper {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

.italics {
    font-style: italic;
    font-size: 1.4rem;
    font-weight: lighter;
}

.accent {
    color: $light-grey;
}

.rsvp-btn {
    background-color: $yellow;

    text-transform: uppercase;

    padding: 7px 15px;
    margin-top: 15px;

    transition: ease 0.5s all;

    &:hover {
        color: $grey;
    }
}

.square-btn {
    border: .5px solid $grey;

    text-transform: uppercase;
    letter-spacing: 2.3px;
    font-size: clamp(1.2rem, 1.3vw, 1.4rem);

    padding: 7px 10px;
    margin-top: 15px;

    transition: 0.3s all;

    &:hover {
        background-color: $green;
        color: $grey;
    }
}

// footer styles
.main-footer {
    background-color: $light-green;

    text-align: center;
    
    padding: 20px 0;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        margin: 0 15px;
        padding: 5px;
    }

    img {
        width: 30%;
    }
}

.sub-footer {
    background-color: $brown;
    color: $background;

    font-size: 1.4rem;

    padding: 10px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    a {
        font-style: italic;
        
        &:hover {
            color: $grey;
        }
    }
}