// global styles

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: $grey;
    background-color: $background;

    font-family: athelas, serif; 
    font-size: 1.6rem;
    text-transform: lowercase;
    letter-spacing: 1.5px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: clamp(6rem, 6.2vw, 6.4rem);
}

h2 {
    font-size: clamp(4rem, 4.2vw, 4.4rem);
}

h3 {
    font-size: clamp(3rem, 3.2vw, 3.4rem);
}

section {
    padding: 100px 0;
}

.wrapper {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}


.square-btn {
    border: .5px solid $grey;

    text-transform: uppercase;
    letter-spacing: 2.3px;
    font-size: clamp(1.2rem, 1.3vw, 1.4rem);

    padding: 5px 10px;
    margin-top: 15px;

    transition: 0.3s all;

    &:hover {
        background-color: $green;
    }
}


