.home {
    height: 100vh;
    background-image: $map;
}

.announcement-bar {
    background-color: $green;

    text-align: center;

    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsvp-bar {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.head-flex {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 3px 0;
        margin: 5px 0;
    }

    h1 {
        color: $light-grey;

        text-transform: uppercase;
        font-size: clamp(2rem, 2.2vw, 2.4rem);

        padding-bottom: 0;
    }

    h2 {
        font-size: clamp(4rem, 4.2vw, 4.4rem);
    }
}

.home-header-feat,
.travel-header-feat {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        width: 15%;
        min-width: 100px;
    }

    i {
        font-size: clamp(2rem, 2.2vw, 2.4rem);
        
        padding-top: 15px;
        padding-left: 5px;
    }
}

.home-header-text,
.travel-header-text {
    padding-top: 80px;
    padding-left: 35px;
}

.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img,
.intro-text {
    width: 50%;
    padding: 20px;
}

.intro-text {

    h2 {
        color: $light-grey;

        font-size: clamp(2rem, 2.2vw, 2.4rem);
        text-transform: uppercase;
    }

}

.categories {
    padding: 0px 0 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.category {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    background-color: #f8eae0;
    background-image: $map;
    border-radius: 4px;

    height: 300px;
    width: 33.3%;
    margin: 15px;
    padding: 20px;

    img {
        width: 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.home-unplugged,
.rental-car {
    background-color: $light-green;

    text-align: center;

    padding: 60px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: 80%;
        margin: 0 auto;
    }
}

.home-unplugged img {
    width: 7%;
}

.home-map,
.travel-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-map-img,
.home-map-text,
.travel-info-map, 
.travel-info-text {
    width: 50%;
    padding: 0 20px;
}


.home-map-img,
.travel-info-map {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        padding-top: 20px;
    }
}

.home-map-text,
.travel-info-text {
    p {
        padding-bottom: 10px
    }

    img {
        width: 15%;
    }
}

.home-shuttle li {
    padding: 10px 0;
}

.home-seeds {
    background-color: $light-pink;
    background-image: $map;
}

.home-seeds-header {
    text-align: center;  

    p {
        color: $light-grey;

        font-size: clamp(2rem, 2.2vw, 2.4rem);
        font-style: italic;
    }
}

.steps {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    div {
        padding: 20px;
        text-align: center;
        width: calc((100%/4) - 10px);
    }

    img {
        padding: 20px 0;
        max-height: 150px;
        width: auto;
    }

    h3 {
        color: $light-grey;

        font-size: clamp(1.6rem, 1.7vw, 1.8rem); 
        font-weight: lighter;
        text-align: left;
    }
}

.cta {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    a {
        font-size: clamp(3rem, 3.2vw, 3.4rem);
    }

    &::before,
    &::after {
        content:'';
        border-top: .5px solid $brown;
        margin: 40px 20px 0 20px;
        flex: 1 0 20px;
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: calc((100%/3) - 20px);
    }
}

.contact-us {
    text-align: center;

    padding-top: 60px;
}

.bubble {
    img {
        width: 71px;
        margin-top: 5px;
        position: absolute;
        transform: rotate(180deg);
    }

    p {
        font-size: 1.3rem;
        font-style: italic;
        position: relative;
        top: 16px;
        left: 37px;

    }
}

.hide {
    display: none;
}