.home-header {
    // background-image: url('./assets/ape-tim-bug.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // overflow-y: hidden;

    // height: 90vh;
    // max-width: 100vw;

    ul {
        display: flex;
    }
}

.home-head-text {
    // height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: left;
        line-height: 5rem;
    }

    img {
        width: 50%;
        margin: 20px auto;
    }
}


.tagline {
    padding: 60px 0;
}

.wed-dates {
    display: flex;
    justify-content: center;
    align-items: center;
}