// MEDIA QUERIES

//tablets
@media (max-width: 768px) {
    
    // HOMEPAGE
    section {
        padding: 30px 0;
    }

    .home-header-feat,
    .travel-header-feat {
        flex-direction: column;
        padding-top: 0;

        img {
          width: 30%; 
        }

        .home-header-text {
            padding-top: 20px;
        }
    }

    .home-intro {
        flex-direction: column;
    }

    .intro-img,
    .intro-text {
        width: 100%;
    }

    .category {
        align-items: center;

        div {
            justify-content: center;
        }
    }

     .home-map {
        flex-direction: column;
    }

    .home-map-img, 
    .home-map-text {
        width: 100%;
    }

    .home-map-text {
        padding-top: 30px;

        img {
            width: 25%; 
        }
    }

    .steps {
        flex-direction: column;

        div {
            width: 100%;
        }

        h3 {
            text-align: center;
        }
    }

    //DETAILS
    .details-main {
        width: 85%;
        padding-left: 35px;
    }

    .details-aside {
        width: 15%;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
    }

    .details-text,
    .details-img {
        width: 100%;
    }

    .details-img {
        padding-top: 0;
    }

    .wed-details img {
        width: 35%;
    }

    // TRAVEL

    .travel {
        height: auto;
        min-height: 100vh;

        .head-flex {
            height: auto;
            min-height: 90vh;
        }
    }

    .travel-header-text {
        padding-top: 20px;
        width: 100%;
        order: 2;
    }
    
    .list-flex {
        flex-direction: column;

        div {
            align-items: flex-start;
            width: 100%;

            ul {
                padding-bottom: 25px;
            }

            li a {
                font-size: 1.4rem;
            }
        }
    }

    .travel-list {
        padding: 40px;
        margin-top: 50px;
    }

    .rsvp-flex {
        flex-direction: column;
    }

    .rsvp-text,
    .rsvp-link {
        width: 100%;
        text-align: center;

        a {
            margin-top: 20px;
        }
    }

    .travel-info {
        flex-direction: column;
    }

    .travel-info-text,
    .travel-info-map {
        width: 100%;
    }

    .travel-info-map {
        order: 2;
    }

    .travel-info-text {
        margin: 10px 0 30px;

        img {
            width: 20%;
        }
    }

    // .stay img {
    //     width: 15%;
    // }
}


// mobile devices
@media (max-width: 480px ) {
   
    // HOMEPAGE
    .home-header-text,
    .travel-header-text {
        padding-left: 20px;
    }

    .categories {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .category {
        width: 100%;
        
    }

    .home-unplugged {
        img {
            width: 25%;
        }

        p {
            padding: 0;
        }
    }

    .cta {
        padding-bottom: 30px;
    }

    .gallery {
        flex-direction: column;

        img {
            width: 100%;
            padding: 10px 0;
        }
    }

    .contact-us {
        padding: 30px 0 20px;
    }

    .sub-footer div {
        flex-direction: column;
        text-align: center;

        p {
            padding: 5px 0;
        }
    }

    .foot-flex ul {
        flex-direction: column;
    }

    // DETAILS
    .details-btns {
        flex-direction: column;

        a {
            width: 100%;
            margin-top: 20px;
        }
    }

    // TRAVEL
    .travel-header-text h2 {
        font-size: clamp(2.8rem, 4.2vw, 4.4rem)
    }

    .rental-car img {
       width: 20%;
    }

    .travel-info-text img {
        width: 30%;
        
    }


}
