// TRAVEL STYLES
.travel-header-text {
   width: 50%;
}

.travel-categories {
    padding-top: 100px;
}

.rental-car {
    p {
        padding-bottom: 10px;
    }

    p > a {
        border-bottom: .5px solid $brown;
    }

    .square-btn:hover {
        background-color: $yellow;
    }
}

.travel-list {
    background-color: #f8eae0;
    background-image: $map;
    border-radius: 4px;
    
    margin-top: 100px;
    padding: 80px;
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 25px;
}

.hotels,
.restos,
.activities {
    width: calc((100%/3) - 40px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;

    // h4 {
    //     align-self: flex-start;
    //     padding-right: 20px;
    // }

    li {
        padding: 10px 0;
        list-style-type: disc;
    }

    span {
        color: $brown;
    }
}

.rsvp-cta {
    background-color: $green;
}

.rsvp-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rsvp-text {
    width: 60%;
}

.rsvp-link {
    width: 40%;
    text-align: center;

    a {
        font-size: clamp(3rem, 3.2vw, 3.4rem);
    }
}

.travel-gallery {
    padding-bottom: 0px;
}
