
// colors
$pink: #fdd9cb;
$light-pink: #f8eae0;
$dark-pink: #d8a08a;
$green: #cbd1cc;
$light-green: #bac5bdbb;
$yellow: #ffdaac;
$grey: #4c4c4d;
$light-grey: #a09f9f;
$background: #f9f5f2;
$brown: #A88660;


// fonts
$main-font: athelas, serif;

// import partials
@import 'setup';
@import 'svgs';
@import 'global';
@import 'home';
@import 'details';
@import 'travel';